.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
m4/
config.log
config.status
configure
libtool
pion-platform.pc
platform/config/
platform/doc/html/
platform/doc/pion-platform.tag
platform/server/pion
platform/tests/Pion*Tests
platform/tests/config/*.xml
platform/tests/config/*.bak
platform/tests/config/*.cache
platform/tests/config/vocabularies/*.xml
platform/tests/config/vocabularies/*.bak
platform/tests/logs/large.*
platform/tests/logs/new.*
platform/tests/logs/*.db
platform/tests/logs/*.cache
sqlite/piondb
*.o
*.lo
*.la
