<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<DOCUMENT type="Advanced Installer" CreateVersion="7.0.1" version="7.0.1" modules="professional" RootPath="." Language="en">
  <COMPONENT cid="caphyon.advinst.msicomp.MsiPropsComponent">
    <ROW Property="ALLUSERS" Value="2"/>
    <ROW Property="ARPCOMMENTS" Value="This installer database contains the logic and data required to install [|ProductName]." ValueLocId="*"/>
    <ROW Property="BannerBitmap" MultiBuildValue="DefaultBuild:default_banner.bmp" Type="1"/>
    <ROW Property="DialogBitmap" MultiBuildValue="DefaultBuild:default_dialog.bmp" Type="1"/>
    <ROW Property="Manufacturer" Value="Atomic Labs" ValueLocId="*"/>
    <ROW Property="ProductCode" Value="1033:{8C9712B1-631F-46F9-8E1C-F9E845FD6128} " Type="16"/>
    <ROW Property="ProductLanguage" Value="1033"/>
    <ROW Property="ProductName" Value="Pion [|ProductVersion] Community Edition" ValueLocId="*"/>
    <ROW Property="ProductVersion" Value="1.0.0"/>
    <ROW Property="SecureCustomProperties" Value="OLDPRODUCTS;AI_NEWERPRODUCTFOUND;UPGRADE_ENTERPRISE_EDITION"/>
    <ROW Property="UpgradeCode" Value="{23FD622B-018A-4972-A04D-E27EDB88D034}"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiDirsComponent">
    <ROW Directory="APPDIR" Directory_Parent="TARGETDIR" DefaultDir="APPDIR:." IsPseudoRoot="1"/>
    <ROW Directory="SHORTCUTDIR" Directory_Parent="TARGETDIR" DefaultDir="SHORTC~1|SHORTCUTDIR" IsPseudoRoot="1"/>
    <ROW Directory="TARGETDIR" DefaultDir="SourceDir"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiCompsComponent">
    <ROW Component="SHORTCUTDIR" ComponentId="{22D796A1-A83F-4D89-AE55-6D35951E6316}" Directory_="SHORTCUTDIR" Attributes="0"/>
    <ROW Component="pion_install_service.bat" ComponentId="{47296B9D-D63D-4660-BFEB-2E6AFF5BB5C0}" Directory_="APPDIR" Attributes="0" KeyPath="pion_install_service.bat"/>
    <ROW Component="pion_uninstall_service.bat" ComponentId="{9567DA08-5614-4F26-909C-577DA35F8FEE}" Directory_="APPDIR" Attributes="0" KeyPath="pion_uninstall_service.bat" Type="0"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiFeatsComponent">
    <ROW Feature="MainFeature" Title="MainFeature" Description="Description" Display="1" Level="1" Directory_="APPDIR" Attributes="0" Components="pion_uninstall_service.bat pion_install_service.bat SHORTCUTDIR"/>
    <ATTRIBUTE name="CurrentFeature" value="MainFeature"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiFilesComponent">
    <ROW File="pion_install_service.bat" Component_="pion_install_service.bat" FileName="pion_i~1.bat|pion_install_service.bat" Attributes="0" SourcePath="platform\build\pion_install_service.bat" SelfReg="false" Sequence="2"/>
    <ROW File="pion_uninstall_service.bat" Component_="pion_uninstall_service.bat" FileName="pion_u~1.bat|pion_uninstall_service.bat" Attributes="0" SourcePath="platform\build\pion_uninstall_service.bat" SelfReg="false" Sequence="1"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.BuildComponent">
    <ROW BuildKey="DefaultBuild" BuildName="DefaultBuild" BuildOrder="1" BuildType="0" Languages="en" InstallationType="4"/>
    <ATTRIBUTE name="CurrentBuild" value="DefaultBuild"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.CacheComponent">
    <ATTRIBUTE name="Enable" value="false"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.DictionaryComponent">
    <ROW Path="&lt;AI_DICTS&gt;ui.ail"/>
    <ROW Path="&lt;AI_DICTS&gt;ui_en.ail"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.FragmentComponent">
    <ROW Fragment="FolderDlg.aip" Path="&lt;AI_FRAGS&gt;FolderDlg.aip"/>
    <ROW Fragment="Sequences.aip" Path="&lt;AI_FRAGS&gt;Sequences.aip"/>
    <ROW Fragment="StaticUIStrings.aip" Path="&lt;AI_FRAGS&gt;StaticUIStrings.aip"/>
    <ROW Fragment="UI.aip" Path="&lt;AI_FRAGS&gt;UI.aip"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiBinaryComponent">
    <ROW Name="ai_replace_pion_path.vbs" SourcePath="common\build\ai_replace_pion_path.vbs"/>
    <ROW Name="aicustact.dll" SourcePath="&lt;AI_CUSTACTS&gt;aicustact.dll"/>
    <ROW Name="default_banner.bmp" SourcePath="&lt;AI_RES&gt;default-banner.bmp"/>
    <ROW Name="default_dialog.bmp" SourcePath="&lt;AI_RES&gt;default-dialog.bmp"/>
    <ROW Name="nssm.exe" SourcePath="winutils\bin\release\nssm.exe"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiControlComponent">
    <ATTRIBUTE name="FixedSizeBitmaps" value="0"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiControlEventComponent">
    <ROW Dialog_="FolderDlg" Control_="Back" Event="NewDialog" Argument="WelcomeDlg" Condition="AI_INSTALL" Ordering="1"/>
    <ROW Dialog_="WelcomeDlg" Control_="Next" Event="NewDialog" Argument="FolderDlg" Condition="AI_INSTALL" Ordering="1"/>
    <ROW Dialog_="VerifyReadyDlg" Control_="Back" Event="NewDialog" Argument="FolderDlg" Condition="AI_INSTALL" Ordering="1"/>
    <ROW Dialog_="FolderDlg" Control_="Next" Event="NewDialog" Argument="VerifyReadyDlg" Condition="AI_INSTALL" Ordering="3"/>
    <ROW Dialog_="MaintenanceTypeDlg" Control_="Back" Event="NewDialog" Argument="MaintenanceWelcomeDlg" Condition="AI_MAINT" Ordering="1"/>
    <ROW Dialog_="MaintenanceWelcomeDlg" Control_="Next" Event="NewDialog" Argument="MaintenanceTypeDlg" Condition="AI_MAINT" Ordering="2"/>
    <ROW Dialog_="VerifyReadyDlg" Control_="Back" Event="NewDialog" Argument="PatchWelcomeDlg" Condition="AI_PATCH" Ordering="1"/>
    <ROW Dialog_="PatchWelcomeDlg" Control_="Next" Event="NewDialog" Argument="VerifyReadyDlg" Condition="AI_PATCH" Ordering="3"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiCreateFolderComponent">
    <ROW Directory_="SHORTCUTDIR" Component_="SHORTCUTDIR"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiCustActComponent">
    <ROW Action="AI_DATA_SETTER" Type="51" Source="ai_fix_install_service_bat" Target="[APPDIR]"/>
    <ROW Action="AI_DATA_SETTER_1" Type="51" Source="CustomActionData" Target="pion-community"/>
    <ROW Action="AI_DOWNGRADE" Type="19" Target="4010"/>
    <ROW Action="AI_PREPARE_UPGRADE" Type="65" Source="aicustact.dll" Target="PrepareUpgrade"/>
    <ROW Action="AI_RESTORE_LOCATION" Type="65" Source="aicustact.dll" Target="RestoreLocation"/>
    <ROW Action="AI_STORE_LOCATION" Type="51" Source="ARPINSTALLLOCATION" Target="[APPDIR]"/>
    <ROW Action="DetectService" Type="1" Source="aicustact.dll" Target="DetectService"/>
    <ROW Action="PropertySource" Type="307" Source="APPDIR" Target="[ProgramFilesFolder][Manufacturer]\[ProductName]"/>
    <ROW Action="PropertySource_1" Type="307" Source="APPDIR" Target="[ProgramFilesFolder][Manufacturer]\[ProductName]"/>
    <ROW Action="SET_APPDIR" Type="307" Source="APPDIR" Target="[ProgramFilesFolder][Manufacturer]\[ProductName]"/>
    <ROW Action="SET_SHORTCUTDIR" Type="307" Source="SHORTCUTDIR" Target="[ProgramMenuFolder][ProductName]"/>
    <ROW Action="SET_TARGETDIR_TO_APPDIR" Type="51" Source="TARGETDIR" Target="[APPDIR]"/>
    <ROW Action="ai_fix_install_service_bat" Type="1030" Source="ai_replace_pion_path.vbs"/>
    <ROW Action="remove_service" Type="1090" Source="nssm.exe" Target="remove &quot;pion-community&quot; confirm"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiInstExSeqComponent">
    <ROW Action="AI_DOWNGRADE" Condition="AI_NEWERPRODUCTFOUND AND (UILevel &lt;&gt; 5)" Sequence="210"/>
    <ROW Action="AI_RESTORE_LOCATION" Condition="APPDIR=&quot;&quot;" Sequence="749"/>
    <ROW Action="AI_STORE_LOCATION" Condition="Not Installed" Sequence="1501"/>
    <ROW Action="AI_PREPARE_UPGRADE" Condition="AI_UPGRADE=&quot;No&quot; AND (Not Installed)" Sequence="1399"/>
    <ROW Action="PropertySource_1" Condition="OLDPRODUCTS" Sequence="101"/>
    <ROW Action="ai_fix_install_service_bat" Condition="NOT Installed" Sequence="5936" AdditionalSeq="AI_DATA_SETTER"/>
    <ROW Action="AI_DATA_SETTER" Condition="NOT Installed" Sequence="5935"/>
    <ROW Action="DetectService" Condition="REMOVE=&quot;ALL&quot;" Sequence="1652" AdditionalSeq="AI_DATA_SETTER_1"/>
    <ROW Action="AI_DATA_SETTER_1" Condition="REMOVE=&quot;ALL&quot;" Sequence="1651"/>
    <ROW Action="remove_service" Condition="REMOVE=&quot;ALL&quot; AND AI_SERVICE_STATE &lt;&gt; &quot;Not Found&quot;" Sequence="1653"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiInstallUISequenceComponent">
    <ROW Action="AI_RESTORE_LOCATION" Condition="APPDIR=&quot;&quot;" Sequence="749"/>
    <ROW Action="PropertySource" Condition="OLDPRODUCTS" Sequence="101"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiLaunchConditionsComponent">
    <ROW Condition="NOT UPGRADE_ENTERPRISE_EDITION" Description="Pion Enterprise Edition installation detected. Community Edition cannot be installed. Installation will abort now."/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiMergeModsComponent">
    <ROW Module="Microsoft_VC80_ATL_x86.msm" Path="common\redist\Microsoft_VC80_ATL_x86.msm" Feature="MainFeature" Directory="APPDIR"/>
    <ROW Module="Microsoft_VC80_CRT_x86.msm" Path="common\redist\Microsoft_VC80_CRT_x86.msm" Feature="MainFeature" Directory="APPDIR"/>
    <ROW Module="policy_8_0_Microsoft_VC80_ATL_x86.msm" Path="common\redist\policy_8_0_Microsoft_VC80_ATL_x86.msm" Feature="MainFeature" Directory="APPDIR"/>
    <ROW Module="policy_8_0_Microsoft_VC80_CRT_x86.msm" Path="common\redist\policy_8_0_Microsoft_VC80_CRT_x86.msm" Feature="MainFeature" Directory="APPDIR"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiShortsComponent">
    <ROW Shortcut="Install_Pion_Service" Directory_="SHORTCUTDIR" Name="Instal~1|Install Pion Service" Component_="pion_install_service.bat" Target="[#pion_install_service.bat]" Description="Register Pion as Windows Service" Hotkey="0" IconIndex="0" ShowCmd="1" WkDir="APPDIR"/>
    <ROW Shortcut="Remove_Pion_Service" Directory_="SHORTCUTDIR" Name="Remove~1|Remove Pion Service" Component_="pion_uninstall_service.bat" Target="[#pion_uninstall_service.bat]" Description="Unregister Pion Windows Service" Hotkey="0" IconIndex="0" ShowCmd="1" WkDir="APPDIR"/>
  </COMPONENT>
  <COMPONENT cid="caphyon.advinst.msicomp.MsiUpgradeComponent">
    <ROW UpgradeCode="[|UpgradeCode]" VersionMax="[|ProductVersion]" Attributes="1025" ActionProperty="OLDPRODUCTS"/>
    <ROW UpgradeCode="[|UpgradeCode]" VersionMin="[|ProductVersion]" Attributes="2" ActionProperty="AI_NEWERPRODUCTFOUND"/>
    <ROW UpgradeCode="{8913581B-1A47-4B9E-A28D-E6F3E333AB25}" VersionMin="1.0" Attributes="7" ActionProperty="UPGRADE_ENTERPRISE_EDITION"/>
  </COMPONENT>
</DOCUMENT>
