<?xml version="1.0" encoding="UTF-8"?>
<PionConfig xmlns="http://purl.org/pion/config">
  <Vocabulary id="urn:vocab:test">
    <Name>Vocabulary A</Name>
    <Comment>Vocabulary for Unit Tests</Comment>
    <Term id="urn:pion:null-term"/>
    <Term id="urn:pion:plain-old-int">
      <Type>int16</Type>
      <Comment>A plain, old integer number</Comment>
    </Term>
    <Term id="urn:pion:big-int">
      <Type>uint64</Type>
      <Comment>A really big positive integer</Comment>
    </Term>
    <Term id="urn:pion:fixed-text">
      <Type size="10">char</Type>
      <Comment>Ten bytes of text</Comment>
    </Term>
    <Term id="urn:pion:date">
      <Type format="%Y-%m-%d">datetime</Type>
      <Comment>A specific date</Comment>
    </Term>
    <Term id="urn:pion:simple-object">
      <Type>object</Type>
      <Comment>An object containing other Terms</Comment>
    </Term>
  </Vocabulary>
</PionConfig>
