<?xml version="1.0" encoding="UTF-8"?>
<PionConfig xmlns="http://purl.org/pion/config" pion_version="tests">
  <Vocabulary id="urn:vocab:test_b">
    <Name>Vocabulary B</Name>
    <Comment>Another Vocabulary for Unit Tests</Comment>
    <Term id="urn:vocab:test_b#b-null-term"/>
    <Term id="urn:vocab:test_b#b-int">
      <Type>int16</Type>
      <Comment>A plain, old integer number</Comment>
    </Term>
  </Vocabulary>
</PionConfig>
