<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://purl.org/pion/config">
  <vocabulary id="urn:vocab:test_b">
    <namespace>b</namespace>
    <comment>Vocabulary for Unit Tests</comment>
    <term id="urn:pion:b-null-term"/>
    <term id="urn:pion:b-int">
      <type>int16</type>
      <comment>A plain, old integer number</comment>
    </term>
  </vocabulary>
</config>
