<?xml version="1.0" encoding="UTF-8"?>
<PionConfig xmlns="http://purl.org/pion/config">
  <Database id="e75d88f0-e7df-11dc-a76c-0016cb926e68">
    <Name>Embedded Storage Database</Name>
    <Comment>Embedded SQLite database for storing events</Comment>
    <Plugin>SQLiteDatabase</Plugin>
    <Filename>../logs/clickstream.db</Filename>
  </Database>
  <Database id="8a8b9b98-eb19-11dc-8c30-0019e3f89cd2">
    <Name>Just another database</Name>
    <Comment>Database that isn't used for anything</Comment>
    <Plugin>SQLiteDatabase</Plugin>
    <Filename>../logs/jadb.db</Filename>
  </Database>
</PionConfig>
