<?xml version="1.0" encoding="UTF-8"?>
<PionConfig xmlns="http://purl.org/pion/config">
	<VocabularyConfig>vocabularies.xml</VocabularyConfig>
	<CodecConfig>codecs.xml</CodecConfig>
	<DatabaseConfig>databases.xml</DatabaseConfig>
	<ReactorConfig>reactors.xml</ReactorConfig>
	<ServiceConfig>services.xml</ServiceConfig>
	<UserConfig>users.xml</UserConfig>
	<PluginPath>../../codecs/.libs/</PluginPath>
	<PluginPath>../../databases/.libs/</PluginPath>
	<PluginPath>../../reactors/.libs/</PluginPath>
	<PluginPath>../../services/.libs/</PluginPath>
</PionConfig>
