<?xml version="1.0" encoding="UTF-8"?>
<PionConfig xmlns="http://purl.org/pion/config">
	<VocabularyConfig>vocabularies.xml</VocabularyConfig>
	<CodecConfig>codecs.xml</CodecConfig>
	<ProtocolConfig>protocols.xml</ProtocolConfig>
	<DatabaseConfig>databases.xml</DatabaseConfig>
	<ReactorConfig>reactors.xml</ReactorConfig>
	<ServiceConfig>services.xml</ServiceConfig>
	<UserConfig>users.xml</UserConfig>
	<DataDirectory>./</DataDirectory>
</PionConfig>
