<?xml version="1.0" encoding="UTF-8"?>
<PionConfig xmlns="http://purl.org/pion/config">
  <Reactor id="153f6c40-cb78-11dc-8fa0-0019e3f89cd2">
    <Name>Only IE Requests</Name>
    <Comment>Filter events that are not requests from IE browsers</Comment>
    <Plugin>FilterReactor</Plugin>
    <Comparison>
    	<Term>urn:vocab:clickstream#useragent</Term>
    	<Type>contains</Type>
    	<Value>MSIE</Value>
    </Comparison>
  </Reactor>
  <Reactor id="0cc21558-cf84-11dc-a9e0-0019e3f89cd2">
    <Name>Do Nothing</Name>
    <Comment>Filter that does nothing</Comment>
    <Plugin>FilterReactor</Plugin>
  </Reactor>
  <Reactor id="c7a9f95a-e305-11dc-98ce-0016cb926e68">
    <Name>CLF Log Reader</Name>
    <Comment>Reads the combined format log</Comment>
    <Plugin>LogInputReactor</Plugin>
    <Codec>3f49f2da-bfe3-11dc-8875-0016cb926e68</Codec>
    <Directory>../logs</Directory>
    <Filename>combined.*</Filename>
  </Reactor>
  <Reactor id="a92b7278-e306-11dc-85f0-0016cb926e68">
    <Name>ELF Log Writer</Name>
    <Comment>Writes a new log file using ELF</Comment>
    <Plugin>LogOutputReactor</Plugin>
    <Codec>23f68d5a-bfec-11dc-81a7-0016cb926e68</Codec>
    <Filename>../logs/new.log</Filename>
  </Reactor>
  <Reactor id="a8928460-eb0c-11dc-9b68-0019e3f89cd2">
    <Name>Clickstream DataStore</Name>
    <Comment>Stores clickstream events into a SQLite database</Comment>
    <Plugin>DatabaseOutputReactor</Plugin>
    <Database>e75d88f0-e7df-11dc-a76c-0016cb926e68</Database>
    <Table>clickstream</Table>
    <Field term="urn:vocab:clickstream#remotehost">remotehost</Field>
    <Field term="urn:vocab:clickstream#rfc931">rfc931</Field>
    <Field term="urn:vocab:clickstream#authuser">authuser</Field>
    <Field term="urn:vocab:clickstream#date">date</Field>
    <Field term="urn:vocab:clickstream#request">request</Field>
    <Field term="urn:vocab:clickstream#status">status</Field>
    <Field term="urn:vocab:clickstream#bytes">bytes</Field>
  </Reactor>
  <Connection id="1b7f88d2-dc1d-11dc-9d44-0019e3f89cd2">
  	<Type>reactor</Type>
    <From>153f6c40-cb78-11dc-8fa0-0019e3f89cd2</From>
    <To>0cc21558-cf84-11dc-a9e0-0019e3f89cd2</To>
  </Connection>
  <Connection id="f086fa52-e306-11dc-af6e-0016cb926e68">
  	<Type>reactor</Type>
    <From>c7a9f95a-e305-11dc-98ce-0016cb926e68</From>
    <To>a92b7278-e306-11dc-85f0-0016cb926e68</To>
  </Connection>
</PionConfig>
