<?xml version="1.0" encoding="UTF-8"?>
<PionConfig xmlns="http://purl.org/pion/config">
	<Server id="main-server">
		<Port>8080</Port>
		<PlatformService id="config-service">
			<Name>Configuration Service</Name>
			<Comment>Pion platform configuration service</Comment>
			<Plugin>ConfigService</Plugin>
			<Resource>/config</Resource>
		</PlatformService>
		<PlatformService id="feed-service">
			<Name>Data Feed Service</Name>
			<Comment>Pion platform data feed service</Comment>
			<Plugin>FeedService</Plugin>
			<Resource>/feed</Resource>
		</PlatformService>
	</Server>
</PionConfig>
