<?xml version="1.0" encoding="UTF-8"?>
<PionConfig xmlns="http://purl.org/pion/config" pion_version="tests">
	<User id="pion">
		<Password>5f493757a8d897bf46f73413f54e8e6afb1d6186</Password>
	</User>
	<User id="test1">
		<Password>7c4a8d09ca3762af61e59520943dc26494f8941b</Password>
	</User>
	<User id="test2">
		<Password>7c4a8d09ca3762af61e59520943dc26494f8941b</Password>
	</User>
	<User id="test3">
		<Password>7c4a8d09ca3762af61e59520943dc26494f8941b</Password>
	</User>
	<User id="test4">
		<Password>7c4a8d09ca3762af61e59520943dc26494f8941b</Password>
	</User>
</PionConfig>
