<?xml version="1.0" encoding="UTF-8"?>
<PionConfig xmlns="http://purl.org/pion/config" pion_version="tests">
	<VocabularyPath>vocabularies</VocabularyPath>
	<VocabularyConfig id="urn:vocab:test">vocabularies/a.xml</VocabularyConfig>
	<VocabularyConfig id="urn:vocab:test_b">vocabularies/b.xml</VocabularyConfig>
	<VocabularyConfig id="urn:vocab:clickstream">vocabularies/clickstream.xml</VocabularyConfig>
	<VocabularyConfig id="urn:vocab:rss">vocabularies/rss.xml</VocabularyConfig>
	<VocabularyConfig id="urn:vocab:atom">vocabularies/atom.xml</VocabularyConfig>
	<VocabularyConfig id="urn:vocab:stocks">vocabularies/stocks.xml</VocabularyConfig>
</PionConfig>
