html, body {
	width: 100%;	/* make the body expand to ... */
	height: 100%;	/* ... fill the visible window */
}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333333;
}

#counterBackground {
	position:absolute;
	top: 121px;
	left: 221px;
	z-index: 2;
	background: #4a4a4a;
	width: 350px;
	height: 50px;
	/* for IE */
	filter:alpha(opacity=80);
	/* CSS3 standard */
	opacity:0.8;
}

#counterBackground.hidden {
	width: 15px;
}

.counterTitle {
	z-index: 3;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	width: 185px;
	padding: 10px 0 10px 10px;
	float: left;
}

.hidden .counterTitle {
	display: none;
}

.counterNumbersRight {
	z-index: 3;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 50px;
	padding: 10px 10px 10px 0;
	float: left;
	text-align: right;
	line-height: 1.4;
}

.hidden .counterNumbersRight {
	display: none;
}

.counterNumbersLeft {
	z-index: 3;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	width: 80px;
	padding: 10px 0 10px 0;
	float: left;
	text-align: right;
	line-height: 1.4;
}

.hidden .counterNumbersLeft {
	display: none;
}

.counterToggle {
	z-index: 3;
	color: #ffffff;
	width: 15px;
	padding: 0;
	float: left;
}

#ops_toggle_button {
	width: 15px;
	height: 50px;
	border: 0;
	padding: 0;
	background: url("../images/reactor-counter-toggle.png");
}

.hidden #ops_toggle_button {
	background: url("../images/control-play.png");
}

h1 {
	font-size: 3em;
	font-weight: bold;
}

h2 {
	font-size: 1.6em;
	font-weight: normal;
}

h3 {
	font-size: 1.2em;
}

a {
	color: #333333;
}

a.header {
	color: #ffffff;
}


a img {
	border: none;
}

label {
	font-weight: bold;
}


.matrixMainHeader {
	background: url(../images/bg-matrix-main-header.png) repeat-x;
	font-size: 13px;
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
}

.matrixInsideHeader {
	background: url(../images/bg-matrix-inside-header.png) repeat-x;
	font-size: 12px;
	border-bottom: 1px solid #cccccc;
	border-right: 2px solid #cccccc;
}

.matrixInsideHeaderRight {
	background: url(../images/bg-matrix-inside-header.png) repeat-x;
	font-size: 12px;
	border-bottom: 1px solid #cccccc;
}


/* outermost layout container */

#outer {
	width: 100%;
	height: 100%;
}


/* Header */

#logo {
	background: url(../images/bg01.png) repeat-x;
	height: 88px;
	margin: 0 auto;
	padding: 0;
}

#logo p {
	float: left;
	margin: 20px 0 0 20px;
}


/* SecondaryMenu */

#secondaryMenu {
	float: right;
	margin: 0 20px 0 0;
	padding: 0;
}


/* Menu */

#menu {
	background: #0b0b0b;
	height: 30px;
	margin: 0 auto -3px auto;
	padding: 0 10px 0 0;
}

#menu span {
	display: block;
	float: right;
}

#menu .dijitButtonText {
	height: 17px;
	width: 75px;
	padding: 2px 0 0 0;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

/*
#menu a:hover {
*/
#menu button:hover {
	background: #ffffff;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #ffffff;
}


#menu .dijitToggleButtonChecked button {
	background-color: #ffffff;
	background-image: none;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #ffffff;
}

#menu .dijitButtonNode {
	background: none;
	background-color: #9e9e9e;
}


#menu span
{
	//padding-right: 20px;
	padding-right: 5px;
}
/*
A highly simplified extract of the generated HTML for a stack controller with two buttons, with the second one selected.

<div id="menu">
	<span class="dijitStackController">
		<div class="dijitButton">
			<div class="dijitRight">
				<button class="dijitStretch dijitButtonNode dijitButtonContents">
					<span class="dijitButtonText">Label 1</span>
				</button>
			</div>
		</div>
		<div class="dijitButton dijitToggleButtonChecked">
			<div class="dijitRight">
				<button class="dijitStretch dijitButtonNode dijitButtonContents">
					<span class="dijitButtonText">Label 2</span>
				</button>
			</div>
		</div>
	</span>
</div>
*/

.config_header {
	height: 70px;
	margin: 0 0 0 30px;
}

/* Workspace Header */

#workspace_config_header {
	height: 110px;
	margin: 0 0 0 30px;
}


/*
This is a duplicate of #reactor_config_content for now.
*/
.config_content {
	padding: 0 0 20px 0;
	margin: 10px 10px 0 30px;
	line-height: 150%;
	font-size: 12px;
}

/* Content */

#reactor_config_content {
	padding: 0 0 20px 0;
	margin: 10px 10px 0 30px;
	line-height: 150%;
	font-size: 12px;
}

.workspacePane {
	background: url(../images/bg-workspace.png) repeat;
}

/* a div with this class goes inside each workspace pane, to serve as a target for reactors */
.workspaceTarget {
	height: 100%;
}


/* Sidebar */

#side {
	width: 170px;
	float: left;
	margin: 0 auto 0 20px;
	padding: 10px 0 0 0;
}

.sidebarInstructions {
	line-height: 150%;
	padding: 5px 5px 0 5px;
	background:#cccccc;
	font-size: 11px;
}

.sidebar {
	line-height: 150%;
	padding: 0 5px 5px 5px;
	background:#cccccc;
	font-size: 11px;
}

#sidebarBottom {
	margin: 20px 0 -5px 0;
	height: 150px;
}

.sidebarHeader {
	background: url(../images/bg02.png) repeat-x;
	font-size: 16px;
	color: #ffffff;
	padding: 5px;
	border-bottom: 1px #ffffff solid;
}

.tundra .collectionHeader .dijitAccordionTitle {
	background: #ffcccc;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding: 5px;
}

.tundra .processingHeader .dijitAccordionTitle {
	background: #cce5ff;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding: 5px;
}

.tundra .storageHeader .dijitAccordionTitle {
	background: #cedaa6;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding: 5px;
}

.reactorBucket {
	background: #ffffff;
	padding: 5px;
}

.connectorBucket {
	height: 50px;
	background: #ffffff;
	padding: 5px;
}



/* Footer */

#footer {
	margin: 0 auto;
/*
30px is not enough for IE.  If a height must be specified here, make sure it's enough for all supported browsers.
	height: 30px;
*/
}

#footer p {
	text-align: left;
	font-size: smaller;
	color: #666666;
	margin-left: 20px;
}


/* for drag-and-drop items in the Reactor configuration page*/

#reactor_config .dojoDndItem {
	border: #cccccc 1px solid;
	width: 148px;
	height: 25px;
	margin: 10px 0;
	cursor: pointer;
}

#reactor_config .dojoDndItemOver {
	border: #666666 1px solid;
	cursor:pointer;
}


/* for moveable items, e.g. reactors in a workspace */



.moveable {
	padding: 8px 10px 0 5px;
	border: 1px solid #666666;
	cursor: pointer;
	width: 132px;
	height: 40px;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
	background: #ffcccc; 
}

.tundra .moveable .dijitToggleButton .dijitButtonNode {
	width: 16px;
	height: 16px;
	background-color: transparent;
	background: url(../images/control-play.png) repeat-x;
	margin-left: 20px;
	border: 0px;
}


.tundra .moveable .dijitToggleButtonChecked .dijitButtonNode {
	width: 16px;
	height: 16px;
	background-color: #ffffff;
	background: url(../images/control-stop.png) repeat-x;
	margin-left: 20px;
	border: 0px;
		
}

.tundra .moveable .ops_per_sec {
	margin-left: 60px;
	font-size: 9px;
	color: #999999;
}

.LogInputReactor {
	background-color: #ffffff;
	background: url(../images/bg-moveable-collection-logs.png) repeat-x;
}


.FilterReactor {
	background-color: #ffffff;
	background: url(../images/bg-moveable-processing-filter.png) repeat-x;
}

.TransformReactor {
	background-color: #ffffff;
	background: url(../images/bg-moveable-processing-transform.png) repeat-x;
}

.SQLiteOutputReactor {
	background-color: #ffffff;
	background: url(../images/bg-moveable-storage-datastore.png) repeat-x;
}

.LogOutputReactor {
	background-color: #ffffff;
	background: url(../images/bg-moveable-storage-logs.png) repeat;
}

/* Tabs */

.tundra .dijitTabPaneWrapper {
	/*
	overflow: hidden;
	*/
	background:#fff; 
	border:1px solid #ccc;
}

.tundra .dijitTab {
	line-height:normal;
	margin-right:5px;	/* space between one tab and the next in top/bottom mode */
	padding:0px;
	border:1px solid #ccc;
	background: url(../images/bg-tab-off.png) repeat-x;
}

.tundra .dijitAlignLeft .dijitTab,
.tundra .dijitAlignRight .dijitTab {
	margin-right:0px;
	margin-bottom:5px;	/* space between one tab and the next in left/right mode */
}

.tundra .dijitTabInnerDiv {
	padding:6px 10px 4px 10px;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
}

.tundra .dijitTabHover,
.tundra .dijitTabCloseButtonHover {
	border:1px solid #ccc;
	background: url(../images/bg-tab-hover.png) repeat-x;
}

.dj_ie6 .tundra .dijitTabHover,
.dj_ie6 .tundra .dijitTabCloseButtonHover {
	background-image: url(../images/bg-tab-hover.png);
}

.tundra .dijitTabChecked,
.tundra .dijitTabCloseButtonChecked
{
	/* the selected tab (with or without hover) */
	background: url(../images/bg-tab-on.png) repeat-x;
	border-color: #ccc;
	font-weight: bold; 
}

#create_new_workspace_tab {
	border: 0px;
	background-color: #ffffff;
	background: none;
	text-decoration: underline;
}


.reactor_dialog {
	width: 600px;
}


/* Overwrite Dojo Dijit Styles for the Config Screens */

/* Global Config Styles */

.tundra .save .dijitButtonNode {
	background: #ffffff url("../images/button-save-off.png");
	border: solid #999999 1px;
	color: #366dba;
	font-weight: bold;
	width: auto;
	height: 24px;
	text-align: left;
	padding-left: 25px;
	padding-right: 2px;
}

.tundra .save.dijitButtonHover .dijitButtonNode {
	background: #ffffff url("../images/button-save-on.png");
}


.tundra .cancel .dijitButtonNode {
	background: #ffffff url("../images/button-cancel-off.png");
	border: solid #999999 1px;
	color: #366dba;
	font-weight: bold;
	width: auto;
	height: 24px;
	text-align: left;
	padding-left: 25px;
	padding-right: 2px;
}

.tundra .cancel.dijitButtonHover .dijitButtonNode {
	background: #ffffff url("../images/button-cancel-on.png");
}

.tundra .delete .dijitButtonNode {
	background: #ffffff url("../images/button-delete-off.png");
	border: solid #999999 1px;
	color: #366dba;
	font-weight: bold;
	width: auto;
	height: 24px;
	text-align: left;
	padding-left: 25px;
	padding-right: 2px;
}

.tundra .delete.dijitButtonHover .dijitButtonNode {
	background: #ffffff url("../images/button-delete-on.png");
}

.tundra .delete_row .dijitButtonNode {
	background: url("../images/button-delete-row-off.png") no-repeat;
	background-color: none;
	border: none;
	margin: -3px 0 0 0;
}

.tundra .delete_row.dijitButtonHover .dijitButtonNode {
	background: url("../images/button-delete-row-on.png") no-repeat;
	background-color: none;
}

.tundra .add_new .dijitButtonNode {
	background: #ffffff url("../images/button-add-off.png") no-repeat;
	border: none;
	color: #366dba;
	font-size: 16px;
	font-weight: bold;
	width: auto;
	height: 30px;
	text-align: left;
	padding-left: 25px;
	padding-right: 2px;
}


.tundra .add_new.dijitButtonHover .dijitButtonNode {
	background: #ffffff url("../images/button-add-on.png");
}


.tundra .add_new_row .dijitButtonNode {
	background: url("../images/button-add-new-row-off.png");
	border: none;
	color: #366dba;
	font-size: 11px;
	width: auto;
	height: 24px;
	text-align: left;
	padding-left: 25px;
	padding-right: 2px;
}

.tundra .add_new_row.dijitButtonHover .dijitButtonNode {
	background: url("../images/button-add-new-row-on.png");
}

.save_cancel_delete {
	margin-top: 5px;
	margin-left: 2px;
}

.unsaved_changes {
	border: 1px dashed #666666;
	
}


.tundra .dijitAccordionPane .dijitAccordionArrow {
	background:url("../images/arrowDown.png") no-repeat;
}

.dj_ie6 .tundra .dijitAccordionPane .dijitAccordionArrow {
	background-image: url("../images/arrowDown.png"); 
}

.tundra .dijitAccordionPane-selected .dijitAccordionArrow {
	background:url("../images/circleIcon.png") no-repeat;
	margin-top:2px;
}

.dj_ie6 .tundra .dijitAccordionPane-selected .dijitAccordionArrow {
	background-image: url("../images/circleIcon.png"); 
}


/* Users Config Styles */


.tundra .user_pane .dijitAccordionBody{
	padding-left: 10px;
	height: auto;
}

.tundra .user_pane .dijitAccordionTitle{
	text-decoration: underline;
}


/* Codecs Config Styles */


.tundra .codec_pane .dijitAccordionBody{
	padding-left: 10px;
	height: auto;
}

.tundra .codec_pane .dijitAccordionTitle{
	text-decoration: underline;
}


/* for drag-and-drop items in the System configuration page*/

#system_config .dojoDndItem {
	padding: 1px 10px 1px 20px;
	margin: 5px 0;
	border: 1px solid #666666;
	cursor: pointer;
}

#system_config .dojoDndItemOver {
	background: #ededed;
	cursor:pointer;
}

.tundra .add_new_plugin_path .dijitButtonNode {
	background: url("../images/button-add-new-plugin-path-off.png");
	border: none;
	color: #366dba;
	font-size: 11px;
	width: auto;
	height: 24px;
	text-align: left;
	padding-left: 25px;
	padding-right: 2px;
}

.tundra .add_new_plugin_path.dijitButtonHover .dijitButtonNode {
	background: url("../images/button-add-new-plugin-path-on.png");
}


.codec_grid {
	overflow: hidden;
	height: 360px;
}

.vocab_grid {
	overflow: hidden;
	height: 360px;
}

.tundra .dojoxGrid-header {
	background: url(../dojo/dijit/themes/tundra/images/tabEnabled.png) #e9e9e9 repeat-x top;
}

.tundra .dojoxGrid {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* System Config Styles */

.pathsTable td {
	border-bottom: 1px solid #999999;
}

.tundra .dijitTreeNode {
	background-image : url('../images/bg-tree-i.png');
	background-position : top left;
	background-repeat : repeat-y;
	margin-left: 19px;
	zoom: 1;	/* MOW: what the heck is this doing in here? */
}

.tundra .dijitAccordionPane-selected .dijitAccordionTitle {
text-decoration: none;
}
