html, body {
	width: 100%;	/* make the body expand to ... */
	height: 100%;   /* ... fill the visible window */
}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333333;
}

h1 {
	font-size: 3.5em;
	font-weight: bold;
}

h2 {
	font-size: 1.6em;
	font-weight: normal;
}

h3 {
	font-size: 1.2em;
}

a {
	color: #333333;
}

a.header {
	color: #ffffff;
}


a img {
	border: none;
}


/* outermost layout container */

#outer {
	width: 100%;
	height: 100%;
}


/* Header */

#logo {
	background: url(../images/bg01.png) repeat-x;
	/*width: 950px;*/
	height: 88px;
	margin: 0 auto;
	padding: 0;
}

#logo p {
	float: left;
	margin: 20px 0 0 20px;
}


/* SecondaryMenu */

#secondaryMenu {
	float: right;
	margin: 0;
	padding: 0;
}


/* Menu */

#menu {
	background: #0b0b0b;
	height: 30px;
	margin: 0 auto;
	padding: 0 10px 0 0;
	border-bottom: 1px solid #CCCCCC;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: right;
	height: 17px;
	margin: 5px 4px 0 0;
	padding: 7px 0 0 7px;
	background: #999999;
	border: 1px solid #CCCCCC;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

#menu a:hover {
	background: #ffffff;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #ffffff;
}

#menu .current_page_item a {
	background: #ffffff;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #ffffff;
}

#menu a span
{
	//padding-right: 20px;
	padding-right: 5px;
}


/* Workspace Header */

#workspaceHeader {
	margin: 0 0 0 30px;
}


/* Content */

#contentWide {
	padding: 0 0 20px 0;
	margin: 10px 10px 0 30px;
	line-height: 150%;
	font-size: 12px;
}

.workspacePane {
	background: url(../images/bg-workspace.png) repeat;
}

/* a div with this class goes inside each workspace pane, to serve as a target for reactors */
.workspaceTarget {
	height: 100%;
}


/* Sidebar */

#side {
 	width: 170px;
 	float: left;
	margin: 0 auto 0 20px;
	padding: 25px 0 0 0;
}

.sidebar {
	line-height: 150%;
	padding: 5px 5px;
	background:#cccccc;
	font-size: 11px;
}

.sidebarHeader {
	background: url(../images/bg02.png) repeat-x;
	font-size: 16px;
	color: #ffffff;
	padding: 5px;
	border-bottom: 1px #ffffff solid;
}

.collectionHeader {
	background: #ffcccc;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding: 5px;
}

.processingHeader {
	background: #cce5ff;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding: 5px;
}

.storageHeader {
	background: #cedaa6;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding: 5px;
}

.reactorBucket {
	height: 100px;
	height: 90px;
	background: #ffffff;
	padding: 5px;
}

.connectorBucket {
	height: 50px;
	background: #ffffff;
	padding: 5px;
}



/* Footer */

#footer {
	margin:  0 auto;
	height: 30px;
}

#footer p {
	text-align: left;
	font-size: smaller;
	color: #666666;
	margin-left: 20px;
}


/* for drag-and-drop items */


.dojoDndItem {
	padding: 5px 10px 0 10px;
	margin: 10px 0;
	border: 1px solid #666666;
	cursor: pointer;
	radius:3pt;
	-moz-border-radius:3pt 3pt;
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle; 
}

.dojoDndItemOver {
	background: #ededed;
	cursor:pointer;
}


/* for moveable items, e.g. reactors in a workspace */



.moveable {
	padding: 10px 10px 0 5px;
	border: 1px solid #666666;
	cursor: pointer;
	width: 83px;
	height: 38px;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
	background: #ffcccc; 
}

.log_files {
	background-color: #ffffff;
	background: url(../images/bg-moveable-collection.png) repeat-x;
	}
		
.filter {
	background-color: #ffffff;
	background: url(../images/bg-moveable-processing.png) repeat-x;
	}
	
.transform {
	background-color: #ffffff;
	background: url(../images/bg-moveable-processing.png) repeat-x;
	}
	
.data_store {
	background-color: #ffffff;
	background: url(../images/bg-moveable-storage.png) repeat-x;
	}
