html, body {
	width: 100%;	/* make the body expand to ... */
	height: 100%;	/* ... fill the visible window */
}

body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333333;
}

.tundra .dijitTextBox {
	padding: 2px;
}

.tundra .dijitButtonNode:hover {
	padding: 0px;
	margin:0px;
	background:none;
	border: 0px;
}


#counterBackground {
	position:absolute;
	top: 121px;
	left: 221px;
	z-index: 3;
	background: #4a4a4a;
	width: 350px;
	height: 50px;
	/* for IE */
	filter:alpha(opacity=80);
	/* CSS3 standard */
	opacity:0.8;
}

#counterBackground.hidden {
	width: 15px;
}

.counterTitle {
	z-index: 4;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	width: 185px;
	padding: 10px 0 10px 10px;
	float: left;
}

.hidden .counterTitle {
	display: none;
}

.counterNumbersRight {
	z-index: 4;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 60px;
	padding: 10px 10px 10px 0;
	float: left;
	text-align: right;
	line-height: 1.4;
}

.hidden .counterNumbersRight {
	display: none;
}

.counterNumbersLeft {
	z-index: 4;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	width: 70px;
	padding: 10px 0 10px 0;
	float: left;
	text-align: right;
	line-height: 1.4;
}

.hidden .counterNumbersLeft {
	display: none;
}

.counterToggle {
	width: 15px;
	float: left;
}

#ops_toggle_button  {
	z-index: 5;
	width: 15px;
	height: 50px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	background-color: #000000;
	background: url("../images/reactor-counter-toggle.png");
}

.hidden #ops_toggle_button {
	background: url("../images/reactor-counter-toggle-in.png");
}



h1 {
	font-size: 3em;
	font-weight: bold;
	margin-top: 20px;
}

h2 {
	font-size: 1.6em;
	font-weight: normal;
}

h3 {
	font-size: 1.2em;
	margin-bottom: 0px;
}

h4 {
	font-size: 1.0em;
	margin-bottom: 0px;
}

a {
	color: #333333;
	text-decoration: none;
}

a.header {
	color: #ffffff;
}


a img {
	border: none;
}

label {
	font-weight: bold;
}

label.disabled {
	font-weight: 100;
	font-style: italic;
}

.id_text_box {
	width: 240px;
}

.comment_text_box {
	width: 400px;
}

.matrixMainHeader {
	background: url(../images/bg-matrix-main-header.png) repeat-x;
	font-size: 13px;
	font-weight: bold;
	border-bottom: 1px solid #999999;
}

.matrixInsideHeader {
	background: url(../images/bg-matrix-inside-header.png) repeat-x;
	font-size: 12px;
	border-bottom: 1px solid #cccccc;
	border-right: 2px solid #cccccc;
}

.matrixInsideHeaderRight {
	background: url(../images/bg-matrix-inside-header.png) repeat-x;
	font-size: 12px;
	border-bottom: 1px solid #cccccc;
}


/* outermost layout container */

#outer {
	width: 100%;
	height: 100%;
}


/* Header */

#topBar {
	vertical-align: bottom;
	text-align: bottom;
}

#logo {
	background: url(../images/bg01.png) repeat-x;
	background-color: #0c0c0c;
	height: 120px;
	margin: 0 auto;
	padding: 0;
}

#logo p {
	float: left;
	margin: 20px 0 0 20px;
}


/* SecondaryMenu */

#secondaryMenu {
	float: right;
	margin: 0 20px 0 0;
	padding: 0;
}

#fixed {
	float:right;
	width:1px;
	height:91px;
	display:block;
}

/* Menu */

#menu {
	margin: 0;
	padding: 0;
	/* It seems like a hack to have to explicitly specify the width here.     */
	/* Is there some other way to do this so that the tabs don't either wrap  */
	/* around or extend beyond the right edge of "topBar" (that works on both */
	/* FF and IE) when another tab is added?                                  */
	width: 760px;
	float: right;
	clear: both;
	position: relative;
	text-align: right;
	right: 10px;
	bottom: 0;
}

#menu div {
	position:absolute;
	bottom:0;
}

#menu span {
/*	display: block; */	/* With Dojo 1.2, aligns tabs vertically. */
/*	float: right;   */	/* With Dojo 1.2, reverses tabs in FF3 and puts them down the right hand side in IE7. */
}

#menu .dijitButtonText {
	height: 17px;
	width: 75px;
	padding: 3px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	border: none;
}

/*
#menu a:hover {
*/

#menu .dijitButtonNode {
	background: none;
	background-color: #9e9e9e;
	margin-right: 5px;
	padding: 0px;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	
}

#menu button:hover {
	background: #ffffff;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #ffffff;
}


#menu .dijitToggleButtonChecked button {
	background-color: #ffffff;
	background-image: none;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-bottom: 2px solid #ffffff;
}


#menu span {
	padding-right: 0px;
}

#main_stack_container {
	float:right;
}

.dijitStackController {
	width: 200px;
}


/*
A highly simplified extract of the generated HTML for a stack controller with two buttons, with the second one selected.

<div id="menu">
	<span class="dijitStackController">
		<div class="dijitButton">
			<div class="dijitRight">
				<button class="dijitStretch dijitButtonNode dijitButtonContents">
					<span class="dijitButtonText">Label 1</span>
				</button>
			</div>
		</div>
		<div class="dijitButton dijitToggleButtonChecked">
			<div class="dijitRight">
				<button class="dijitStretch dijitButtonNode dijitButtonContents">
					<span class="dijitButtonText">Label 2</span>
				</button>
			</div>
		</div>
	</span>
</div>
*/

/* BorderContainer Overrides  (BorderContainers are used in every configuration "page".) */

/* Overrides ContentPane.css. */
/* Applies to ContentPanes in BorderContainers. */
.tundra .dijitBorderContainerNoGutter-dijitContentPane {
	border: 0;
	padding: 0;
}

/* Overrides BorderContainer.css. */
.tundra .dijitBorderContainerNoGutter {
	padding: 0;
}


.config_header {
	height: 70px;
	margin: 0 0 0 30px;
}

/* Workspace Header */

#workspace_config_header {
	height: 110px;
	margin: 0 0 0 30px;
}


/* Content */

.config_content {
	padding: 0 0 20px 0;
	margin: 10px 30px 0 30px;
	line-height: 150%;
	font-size: 12px;
}

#reactor_config_content {
	padding: 0 0 20px 0;
	margin: 10px 10px 0 30px;
	line-height: 150%;
	font-size: 12px;
}

.workspacePane {
	background: url(../images/bg-workspace.png) repeat;
}

/* a div with this class goes inside each workspace pane, to serve as a target for reactors */
.workspaceTarget {
	height: 100%;
}

/* Overrides ContentPane.css. */
/* Applies to Reactor workspaces, which are ContentPanes in a TabContainer. */
.tundra .dijitTabContainerBottom-dijitContentPane {
	padding: 0; /* otherwise arrowheads are off by 5px wrt Reactors */
}


/* Sidebar */

#side {
	width: 172px;
	float: left;
	margin: 0 auto 0 20px;
	padding: 10px 0 0 0;
}

.sidebarInstructions {
	line-height: 150%;
	padding: 5px 5px 0 5px;
	background:#cccccc;
	font-size: 11px;
}

.tundra .sidebar {
	line-height: 150%;
	padding: 0 5px 5px 5px;
	background:#cccccc;
	font-size: 11px;
}

#sidebarBottom {
	margin: 20px 0 -5px 0;
	height: 150px;
}

.sidebarHeader {
	background: url(../images/bg02.png) repeat-x;
	font-size: 16px;
	color: #ffffff;
	padding: 5px;
	border-bottom: 1px #ffffff solid;
}

#sidebarMain .collectionHeader {
	background-image: none;
	background: #ffcccc;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding: 5px;
}

#sidebarMain .processingHeader {
	background-image: none;
	background: #cce5ff;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding: 5px;
}

#sidebarMain .storageHeader {
	background-image: none;
	background: #cedaa6;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding: 5px;
}

.reactorBucket {
	background: #ffffff;
}

.connectorBucket {
	height: 50px;
	background: #ffffff;
	padding: 5px;
}



/* Footer */

#footer {
	margin: 0 auto;
/*
30px is not enough for IE.  If a height must be specified here, make sure it's enough for all supported browsers.
	height: 30px;
*/
}

#footer p {
	text-align: left;
	font-size: smaller;
	color: #666666;
	margin-left: 20px;
}


/* for drag-and-drop items in the Reactor configuration page*/

#reactor_config .dojoDndItem {
	border: #cccccc 1px solid;
	width: 148px;
	height: 25px;
	margin: 10px 0;
	cursor: pointer;
}

#reactor_config .dojoDndItemOver {
	border: #666666 1px solid;
	cursor:pointer;
}


/* for reactor dialog pop up windows>*/

.reactor_dialog_top{
	padding: 10px 10px 0 10px;
}

.reactor_dialog_bottom{
	padding: 10px 10px 0 10px;
}

.c_reactor_grid_blocks {
	background-color:#fddfdf; 
	padding: 0 5px 5px 5px; 
	border:1px solid #ff6666;
}

.p_reactor_grid_blocks {
	background-color:#d8ecf8; 
	padding: 0 5px 5px 5px; 
	border:1px solid #6096b6;
}

.s_reactor_grid_blocks {
	background-color:#f0f9d1; 
	padding: 0 5px 5px 5px; 
	border:1px solid #7e9943;
}

.reactor_name {
	float:left;
	font-size: 18px;
	font-weight: bold;
}

.reactor_cat {
	float:right; 
	font-size: 11px;
}


/* for moveable items, e.g. reactors in a workspace */

.name {
	width: 132px;
	height: 20px;
	overflow: hidden;
	font-size: 12px;
	white-space: nowrap;
}


.moveable {
	padding: 8px 10px 0 5px;
	border: 1px solid #666666;
	cursor: pointer;
	width: 132px;
	height: 40px;
	font-size: 14px;
	font-weight: bold;
}

.tundra .moveable .dijitToggleButton .dijitButtonNode {
	width: 16px;
	height: 16px;
	background-color: transparent;
	background: url(../images/control-play.png) no-repeat;
	margin-left: 20px;
	border: 0px;
}


.tundra .moveable .dijitToggleButtonChecked .dijitButtonNode {
	width: 16px;
	height: 16px;
	background-color: #ffffff;
	background: url(../images/control-stop.png) no-repeat;
	margin-left: 20px;
	border: 0px;
}

.tundra .moveable .ops_per_sec {
	margin-left: 45px;
	font-size: 9px;
	color: #999999;
}

.reactor {
	background-color: #ffffff;
	background: url(../images/bg-moveable-reactor.png) repeat-x;
}

/*
The following are also available, if the need arises.

.reactor.collection {
}

.reactor.processing {
}

.reactor.storage {
}
*/

/* Tabs */

.tundra .dijitTabPaneWrapper {
	/*
	overflow: hidden;
	*/
	background:#fff; 
	border:1px solid #ccc;
}

.tundra .dijitTab {
	line-height:normal;
	margin-right:5px;	/* space between one tab and the next in top/bottom mode */
	padding:0px;
	border:1px solid #ccc;
	background: url(../images/bg-tab-off.png) repeat-x;
}

.tundra .dijitAlignLeft .dijitTab,
.tundra .dijitAlignRight .dijitTab {
	margin-right:0px;
	margin-bottom:5px;	/* space between one tab and the next in left/right mode */
}

.tundra .dijitTabInnerDiv {
	padding:6px 10px 4px 10px;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
}

.tundra .dijitTabHover,
.tundra .dijitTabCloseButtonHover {
	border:1px solid #ccc;
	background: url(../images/bg-tab-hover.png) repeat-x;
}

.dj_ie6 .tundra .dijitTabHover,
.dj_ie6 .tundra .dijitTabCloseButtonHover {
	background-image: url(../images/bg-tab-hover.png);
}

.tundra .dijitTabChecked,
.tundra .dijitTabCloseButtonChecked
{
	/* the selected tab (with or without hover) */
	background: url(../images/bg-tab-on.png) repeat-x;
	border-color: #ccc;
	font-weight: bold; 
}

#create_new_workspace_tab {
	border: 0px;
	background-color: #ffffff;
	background: none;
	text-decoration: underline;
}


.reactor_dialog {
	width: 700px;
	padding: 20px;
	margin:20px;
}



/* Overwrite Dojo Dijit Styles for the Config Screens */

/* Global Config Styles */

.tundra .save .dijitButtonNode, 
.tundra button.save {
	background: #ffffff url("../images/button-save-off.png") repeat-x;
	border: solid #999999 1px;
	color: #366dba;
	font-weight: bold;
	width: auto;
	height: 22px;
	text-align: left;
	padding-top: 1px;
	padding-left: 25px;
	padding-right: 2px;
}

.tundra .save.dijitButtonHover .dijitButtonNode, 
.tundra button.save:hover {
	background: #ffffff url("../images/button-save-on.png") repeat-x;
}

.tundra button.disabled.save {
	background: #ffffff url("../images/button-save-off.png") repeat-x;
	font-weight: 100;
}

.tundra button.edit {
	width: 100%;
	height: auto;
	padding: 2px;
}

.tundra button.add_new {
	background: #ffffff url("../images/button-add-off.png") no-repeat;
	border: solid #999999 1px;
	color: #366dba;
	font-weight: bold;
	width: auto;
	height: 22px;
	text-align: left;
	padding-top: 1px;
	padding-left: 25px;
	padding-right: 2px;
}

.tundra button.add_new:hover {
	background: #ffffff url("../images/button-add-on.png") no-repeat;
}

.tundra button.disabled.add_new {
	background: #ffffff url("../images/button-add-off.png") no-repeat;
	font-weight: 100;
}

.tundra button.cancel,
.tundra .cancel .dijitButtonNode {
	background: #ffffff url("../images/button-cancel-off.png") repeat-x;
	border: solid #999999 1px;
	color: #366dba;
	font-weight: bold;
	width: auto;
	height: 22px;
	text-align: left;
	padding-top: 1px;
	padding-left: 25px;
	padding-right: 2px;
}

.tundra button.cancel:hover,
.tundra .cancel.dijitButtonHover .dijitButtonNode {
	background: #ffffff url("../images/button-cancel-on.png") repeat-x;
}

.tundra button.delete,
.tundra .delete .dijitButtonNode {
	background: #ffffff url("../images/button-delete-off.png") repeat-x;
	border: solid #999999 1px;
	color: #366dba;
	font-weight: bold;
	width: auto;
	height: 22px;
	text-align: left;
	padding-top: 1px;
	padding-left: 25px;
	padding-right: 2px;
}

.tundra button.delete:hover,
.tundra .delete.dijitButtonHover .dijitButtonNode {
	background: #ffffff url("../images/button-delete-on.png") repeat-x;
}

.tundra .import .dijitButtonNode, 
.tundra button.import {
	background: #ffffff url("../images/button-import-off.png") repeat-x;
	border: solid #999999 1px;
	color: #366dba;
	font-weight: bold;
	width: auto;
	height: 22px;
	text-align: left;
	padding-top: 1px;
	padding-left: 25px;
	padding-right: 2px;
}

.tundra .import.dijitButtonHover .dijitButtonNode, 
.tundra button.import:hover {
	background: #ffffff url("../images/button-import-on.png") repeat-x;
}

.tundra button.disabled.import {
	background: #ffffff url("../images/button-import-off.png") repeat-x;
	font-weight: 100;
}

.tundra .export .dijitButtonNode, 
.tundra button.export {
	background: #ffffff url("../images/button-export-off.png") repeat-x;
	border: solid #999999 1px;
	color: #366dba;
	font-weight: bold;
	width: auto;
	height: 22px;
	text-align: left;
	padding-top: 1px;
	padding-left: 25px;
	padding-right: 2px;
}

.tundra .export.dijitButtonHover .dijitButtonNode, 
.tundra button.export:hover {
	background: #ffffff url("../images/button-export-on.png") repeat-x;
}

.tundra button.disabled.export {
	background: #ffffff url("../images/button-export-off.png") repeat-x;
	font-weight: 100;
}

.tundra button.restore {
	background-image: url('../images/icon-restore.png');
	background-position: center center;
	background-repeat: no-repeat;
	border: outset #CCCCCC 3px;
	width: auto;
	height: 22px;
	padding-left: 20px;
}

.tundra button.restore:hover {
	background-image: url('../images/icon-restore-hover.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.tundra button.disabled.restore {
	background-image: url('../images/icon-restore-disabled.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.tundra button.delete_row {
	background-image: url('../images/icon-delete.png');
	background-position: center center;
	background-repeat: no-repeat;
	border: outset #CCCCCC 3px;
	width: auto;
	height: 22px;
	padding-left: 20px;
}

.tundra button.delete_row:hover {
	background-image: url('../images/icon-delete-hover.png');
	background-position: center center;
	background-repeat: no-repeat;
}

/*
I don't think this is being used anywhere.

.tundra .delete_row.dijitButtonHover .dijitButtonNode {
	background: url("../images/button-delete-row-on.png") no-repeat;
	background-color: none;
}
*/

.tundra .add_new_pane .dijitButtonNode {
	background: #ffffff url("../images/button-add-new-pane-off.png") no-repeat;
	border: none;
	color: #366dba;
	font-size: 16px;
	font-weight: bold;
	width: auto;
	height: 30px;
	text-align: left;
	padding-left: 25px;
	padding-right: 2px;
}


.tundra .add_new_pane.dijitButtonHover .dijitButtonNode {
	background: #ffffff url("../images/button-add-new-pane-on.png") no-repeat;
}


.tundra .add_new_row .dijitButtonNode {
	background: url("../images/button-add-new-row-off.png") no-repeat;
	border: none;
	color: #366dba;
	font-size: 11px;
	width: auto;
	height: 24px;
	text-align: left;
	padding-left: 25px;
	padding-right: 2px;
}

.tundra .add_new_row.dijitButtonHover .dijitButtonNode {
	background: url("../images/button-add-new-row-on.png") no-repeat;
}

.save_cancel_delete {
	margin: 5px;
}

.unsaved_changes {
	background: yellow !important;
	/*border: 1px dashed #666666 !important;*/
}


/* Styles affecting all Config Panes */
/* TODO: Add new class config_pane and refactor all the rules common to 
   all of vocab_pane, codec_pane, database_pane, protocol_pane, user_pane.
   Then change the following rule to:
   .tundra config_pane textarea.comment { ...
*/

.tundra textarea.comment {
	width: 300px;
}


/* Vocab Config Styles */


.tundra .vocab_pane {
	padding-left: 10px;
	padding-right: 10px;
	height: auto;
	background: url("../images/bg-accordion-pane.png");
}


/* Codecs Config Styles */


.tundra .codec_pane {
	padding-left: 10px;
	padding-right: 10px;
	height: auto;
	background: url("../images/bg-accordion-pane.png");
}


/* Database Config Styles */


.tundra .database_pane {
	padding-left: 10px;
	padding-right: 10px;
	height: auto;
	background: url("../images/bg-accordion-pane.png");
}


/* Protocols Config Styles */


.tundra .protocol_pane {
	padding-left: 10px;
	padding-right: 10px;
	height: auto;
	background: url("../images/bg-accordion-pane.png");
}


/* Users Config Styles */


.tundra .user_pane {
	padding-left: 10px;
	padding-right: 10px;
	height: auto;
	background: url("../images/bg-accordion-pane.png");
}


/* for drag-and-drop items in the System configuration page*/

#system_config .dojoDndItem {
	padding: 1px 10px 1px 20px;
	margin: 5px 0;
	border: 1px solid #666666;
	cursor: pointer;
}

#system_config .dojoDndItemOver {
	background: #ededed;
	cursor:pointer;
}

.tundra .add_new_plugin_path .dijitButtonNode {
	background: url("../images/button-add-new-plugin-path-off.png");
	border: none;
	color: #366dba;
	font-size: 11px;
	width: auto;
	height: 24px;
	text-align: left;
	padding-left: 25px;
	padding-right: 2px;
}

.tundra .add_new_plugin_path.dijitButtonHover .dijitButtonNode {
	background: url("../images/button-add-new-plugin-path-on.png");
}

.codec_grid {
	height: 180px;
}

.vocab_grid {
	height: 180px;
}

.protocol_grid {
	height: 180px;
}

.reactor_dialog_grid {
	padding: 0px;
	margin: 5px;
	border: 1px solid #6096b6;
}

.tundra .dojoxGrid {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* System Config Styles */

.pathsTable td {
	border-bottom: 1px solid #999999;
}

.tundra .dijitTreeNode {
	background-image : url('../images/bg-tree-i.png');
	background-position : top left;
	background-repeat : repeat-y;
	margin-left: 19px;
	zoom: 1;	/* MOW: what the heck is this doing in here? */
}

/* Accordion Title Styles */

.tundra .dijitAccordionTitle-selected {
	text-decoration: none;
	background: url("../images/accordion-title-bg.png");
	color: #ffffff;
}

/*
 This fixes a "white-on-white" bug when using some grid editors.
*/ 
.tundra .dojoxGrid-row-over .dojoxGrid-cell .dijit { 
	color: #000;
}

.tundra .dijitButtonNode {
	padding: 0px;
	margin:0px;
	background:none;
	border: 0px;
}

.dijitToggleButtonChecked {
	padding: 0px;
	margin:0px;
	background:none;
	border: 0px;
}

.content_button .dijitButtonText {
	border: 1px solid #666666;
	padding: 5px;
	background-color: #e6e6e6;
	font-weight:bold;
}

.termSelectorContainer thead tr th, .termSelectorContainer thead tr td, .termSelectorContainer tbody tr td, .termSelectorContainer tfoot tr td {
	padding: 0;
}

.tundra table.termSelectorContainer {
	font-size: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid #ccc;
	margin: 0;
	padding: 10px;
	background-color: #6699ff;
}

.tundra .termSelectorHead th {
	background:#d3d3d3 url("../dojo-release/dijit/themes/tundra/images/titleBar.png") repeat-x top;
	padding-top:.3em;
	padding-bottom:.2em;
	border: 1px solid #ccc;
	text-align:center;
}

div.glowing_horiz {
	background: url("../images/glow-for-horizontal-lines.png") repeat;
	z-index: 200;
}

div.glowing_vert {
	background: url("../images/glow-for-vertical-lines.png") repeat;
	z-index: 200;
}

div.normal {
	background: url("../images/0.gif");
	z-index: 100;
}
