body {
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: center;
	margin-top: 100px;
}


td {
	color: #000000;
	font-size: 12px;
}


a:link { 
	color: #00acff;
}
	
a:visited { 
	color: #00acff;
}


th { color: #000000;
	font-size: 14px;
	text-align: left;
}

.loginBox {
	margin:0px auto;
	width: 500px;
	border-top: 3px solid #00acff;
	border-bottom: 1px dotted #00acff;
	padding-top: 25px;
}

.leftCol {
	float: left;
	width: 200px;
}

.rightCol {
	float: left;	
}
	
/* Footer styles */
	#footer {
	margin:  0 auto;
	height: 30px;
}

p {
	text-align: right;
	font-size: smaller;
	color: #666666;
	margin-left: 20px;
	padding-top: 20px;
}



