body {
	margin: 0;
	padding: 0;
	background: url(../images/bg-splash.png) repeat-x;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333333;
}


td {
	color: #ffffff;
	font-size: 12px;
}


th { color: #ffffff;
	font-size: 14px;
	text-align: left;
}

.content {
	
	width: 100%;
	margin-top: 206px;
}


.leftCol {
	width: 530px;
	float: left;
	background-color: #000000;
}

.rightCol {
	width: 50%;
	background-color: #000000;
	padding-top: 15px;
	
}
	
/* Footer styles */
	#footer {
	margin:  0 auto;
	height: 30px;
}

#footer p {
	text-align: left;
	font-size: smaller;
	color: #666666;
	margin-left: 20px;
	padding-top: 20px;
}



