<Plugin>AggregateReactor</Plugin>
<X>300</X>
<Y>420</Y>
<Name>Client Errors</Name>
<ContextInterval>10m</ContextInterval>
<MemoryBuckets>144</MemoryBuckets>
<PruneInterval>10</PruneInterval>
<PruneThreshold>10</PruneThreshold>
<MatchAllComparisons>true</MatchAllComparisons>
<Aggregate>
	<Name>A</Name>
	<Math>COUNT</Math>
</Aggregate>
<Comparison>
	<Term>urn:vocab:clickstream#status</Term>
	<Type>greater-or-equal</Type>
	<Value>400</Value>
	<MatchAllValues>false</MatchAllValues>
</Comparison>
<Comparison>
	<Term>urn:vocab:clickstream#status</Term>
	<Type>less-or-equal</Type>
	<Value>499</Value>
	<MatchAllValues>false</MatchAllValues>
</Comparison>
