<Plugin>FilterReactor</Plugin>
<X>100</X>
<Y>150</Y>
<Name>${host_label} Traffic</Name>
<MatchAllComparisons>true</MatchAllComparisons>
<Comparison>
	<Term>urn:vocab:clickstream#session-group</Term>
	<Type>exact-match</Type>
	<Value>${session_group}</Value>
	<MatchAllValues>false</MatchAllValues>
</Comparison>
<Comparison>
	<Term>urn:vocab:clickstream#host</Term>
	<Type>regex</Type>
	<Value>^(${host_suffix_alternation})$</Value>
	<MatchAllValues>false</MatchAllValues>
</Comparison>
