<Plugin>FilterReactor</Plugin>
<X>250</X>
<Y>250</Y>
<Name>HTTP Events</Name>
<MatchAllComparisons>false</MatchAllComparisons>
<Comparison>
		<Term>urn:vocab:clickstream#http-event</Term>
		<Type>is-defined</Type>
		<MatchAllValues>false</MatchAllValues>
</Comparison>
