<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>129.15</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>CanvasColor</key>
	<dict>
		<key>w</key>
		<string>1</string>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasScale</key>
	<real>1</real>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2007-10-03 11:04:33 -0700</string>
	<key>Creator</key>
	<string>Michael Dickey</string>
	<key>DisplayScale</key>
	<string>1 in = 1 in</string>
	<key>GraphDocumentVersion</key>
	<integer>5</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>5</integer>
			</dict>
			<key>ID</key>
			<integer>40</integer>
			<key>Points</key>
			<array>
				<string>{355.385, 435.124}</string>
				<string>{431.24, 300.387}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>15</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>4</integer>
			</dict>
			<key>ID</key>
			<integer>39</integer>
			<key>Points</key>
			<array>
				<string>{463.64, 268}</string>
				<string>{463.64, 189}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>5</integer>
				<key>Info</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{533.28, 527.94}, {217, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>38</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Copyright 2007-2008 Atomic Labs, Inc.}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{621.34, 454.88}, {124.8, 65}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>37</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{77.14, 225.94}, {98, 65}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>36</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 main()\
cmd-line opt\
config.xml\
services}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{648.14, 183}, {98, 65}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>35</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 PionConfig\
PionPlugin\
...}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{224.64, 45.94}, {314, 29}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>34</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs48 \cf0 Pion Platform Architecture}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>30</integer>
				<key>Info</key>
				<integer>2</integer>
			</dict>
			<key>ID</key>
			<integer>33</integer>
			<key>Points</key>
			<array>
				<string>{59.7147, 230.57}</string>
				<string>{58.7297, 325.07}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>29</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>27</integer>
			</dict>
			<key>ID</key>
			<integer>32</integer>
			<key>Points</key>
			<array>
				<string>{157.64, 214.063}</string>
				<string>{201.14, 213.44}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>29</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{77.14, 352.07}, {98, 65}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>31</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 scripts\
images\
styles\
HTML}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{17.14, 325.07}, {140, 33}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>30</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{-0.202931, -0.499999}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.825629</string>
						<key>r</key>
						<string>0.789761</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Interface Files}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{17.14, 197.57}, {140, 33}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>29</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.195895, 0.5}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.825629</string>
						<key>r</key>
						<string>0.789761</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Pion Platform Server}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{230.64, 521.18}, {129, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>28</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Pion Platform Plug-ins}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>4</integer>
				<key>Info</key>
				<integer>8</integer>
			</dict>
			<key>ID</key>
			<integer>26</integer>
			<key>Points</key>
			<array>
				<string>{355.571, 129.454}</string>
				<string>{428.64, 172.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>24</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{275.14, 140.7}, {98, 65}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>25</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Auth.\
Config\
EventFeeds}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{215.14, 112.7}, {140, 33}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>24</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.510824</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.672452</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Pion WebServices}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>5</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>23</integer>
			<key>Points</key>
			<array>
				<string>{355.589, 231.54}</string>
				<string>{431.24, 268.613}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>21</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{275.14, 242.82}, {98, 65}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>22</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 ELF, XML, JSON, etc.}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{215.14, 214.82}, {140, 33}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>21</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.510824</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.672452</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Pion Codecs}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>5</integer>
				<key>Info</key>
				<integer>8</integer>
			</dict>
			<key>ID</key>
			<integer>20</integer>
			<key>Points</key>
			<array>
				<string>{355.556, 333.163}</string>
				<string>{428.64, 284.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{275.14, 344.94}, {98, 65}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>18</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Filter\
Transform\
...}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{215.14, 316.94}, {140, 33}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>17</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.510824</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.672452</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Pion Reactors}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{275.14, 447.06}, {98, 65}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>16</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 SQLite\
MySQL\
...}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{215.14, 419.06}, {140, 33}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>15</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.510824</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.672452</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Pion Databases}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{490.64, 183}, {98, 65}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>11</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 HTTPServer\
WebService\
...}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{490.64, 297}, {98, 65}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>10</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Event\
Codec\
Database\
Reactor}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>8</integer>
			<key>Points</key>
			<array>
				<string>{566.04, 268.613}</string>
				<string>{653.142, 189.337}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>7</integer>
			<key>Points</key>
			<array>
				<string>{568.64, 172.5}</string>
				<string>{601.14, 172.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>4</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{428.64, 268}, {140, 33}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
				<string>{-0.25, -0.5}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.534124</string>
						<key>g</key>
						<string>0.984429</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Pion Platform Library}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{428.64, 156}, {140, 33}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
				<string>{-0.25, 0.5}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.534124</string>
						<key>g</key>
						<string>0.984429</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Pion Network Library}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{601.64, 156}, {140, 33}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.534124</string>
						<key>g</key>
						<string>0.984429</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Pion Common Library}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{201.14, 103.94}, {188, 438}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>27</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.5, -0.25}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
					<key>Pattern</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 P}</string>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.png</string>
	</array>
	<key>IsPalette</key>
	<string>NO</string>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict/>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheet</key>
	<string>Master 1</string>
	<key>MasterSheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>CanvasColor</key>
			<dict>
				<key>w</key>
				<string>1</string>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasScale</key>
			<real>1</real>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 in = 1 in</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>IsPalette</key>
			<string>NO</string>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict/>
			<key>Orientation</key>
			<integer>2</integer>
			<key>OutlineStyle</key>
			<string>Basic</string>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Master 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ModificationDate</key>
	<string>2008-01-04 11:17:32 -0800</string>
	<key>Modifier</key>
	<string>Michael Dickey</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>OutlineStyle</key>
	<string>Basic</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>int</string>
			<string>1</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{792, 612}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<true/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>DrawerTab</key>
		<string>Outline</string>
		<key>DrawerWidth</key>
		<real>209</real>
		<key>Frame</key>
		<string>{{320, 58}, {1111, 1066}}</string>
		<key>VisibleRegion</key>
		<string>{{-164, -182}, {1096, 952}}</string>
		<key>Zoom</key>
		<real>1</real>
	</dict>
</dict>
</plist>
